
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:500,600,700,800')
}

html {
       background-image: url('pictures/bg.jpg');
    background-repeat: repeat;
}
body {
    border-radius: 5px;
     margin: 5% 18% 5% 18%;
     background-color: rgb(235, 235, 235);
     
}

.siteName {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: -7px 7px 5px rgb(176, 169, 169);
    position: absolute;
    left: 37%;
    border-radius: 3px;
    height: 70px;
    line-height:70px;
    width: 210px;    
    top: -35px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 150%;
    white-space: nowrap;   
}
.navbar {
    height: 150px;    
    position: relative; 
}

.item {
     display:inline-block;
     color: rgb(103, 99, 100);
     text-transform: uppercase;
     text-align: center;
     background-image: url('pictures/line.png');
     background-repeat: repeat-x;
     font-size: 14px;
     padding: 15px 0 15px 0;
    margin-left: 30px;
}
.items {
        padding-top: 70px;
        margin-left: 180px;       
}
.picture >img {
     width: 100%;
     border-radius:5px;
     box-shadow: -7px 7px 5px rgb(179, 175, 175);
      
}
.picture {
     padding: 0 20px 0 20px;
    
}
#up {
     font-size: 24px; 
       font-weight: 600; 
     text-transform: uppercase;
     padding-bottom: 10px;
     
}
.someText {
    padding-top: 30px;
    text-align: center; 
}
